.wrapper1{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container1 {
        display: flex;
        flex-direction: column;
        align-items:center;
        
    }

    .nnn {
        display: flex;
        flex-direction: row;
    }

    .img1 {
        height: 300px;
    }
    .ttt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ima{
        margin-bottom: 32px;
        font-size: 32px;
        
    }